.form-container {
	width: 30%;
    margin: auto;
    padding: 2%;
    @include xs {
        width: 100%;
    }
    @include sm {
        width: 100%;
    }  
    @include md {
        width: 60%;
    }
}

.btn {
    width:100%
}